PORT = "Isi sendiri"
NODE_ENV = "Isi sendiri"

CLOUDINARY_CLOUD_NAME = "Isi sendiri"
CLOUDINARY_API_KEY = "Isi sendiri"
CLOUDINARY_API_SECRET = "Isi sendiri"

SMTP_SERVICE = "gmail"
SMTP_HOST = "smtp.gmail.com"
SMTP_PORT = 587
SMTP_SECURE = "false"
SMTP_USER = "Isi sendiri"
SMTP_PASS = "Isi sendiri"